.app-manage-restaurant-container {
  max-width: 768px;
  margin: 0 auto;

  .app-restaurant-card-header {
    display: flex;
    justify-content: center;
    align-items: center;

    h1, h2, h3, h4, h5 {
      margin: 0 !important;
    }
  }

  .app-manage-restaurant-form-container {
    margin-top: 24px;

    .app-manage-restaurant-form {
      padding-top: 8px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      button {
        height: 56px
      }

      .mat-mdc-form-field:not(:first-child) {
        margin-left: 16px;
      }
    }

    .mat-mdc-card-header {
      padding: 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .app-manage-restaurant-form {
    flex-wrap: wrap;
    button, .app-manage-restaurant-form-inputs, .mat-mdc-form-field {
      width: 100%;
    }
    .mat-mdc-form-field {
      margin-left: 0 !important;
    }
  }
}
