.app-overlay-loader-container {
  position: relative;

  .app-overlay-loader {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(140, 140, 140, 0.3);
    width: 100%;
    z-index: 999;
    cursor: wait;
  }
}

.app-table-form-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;

  .app-filter-restaurants {
    max-width: 420px;
  }
}

.app-table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;

  table {
    width: 100%;
    max-width: 100%;
    min-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .app-table-form-container {
    display: inline-block;

    & > * {
      width: 100%;
    }

    .app-filter-restaurants {
      max-width: 767px;
      min-height: 48px
    }
  }
}
