.overlay-loader-container {
  position: relative;

  .overlay-loader {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(140, 140, 140, 0.3);
    width: 100%;
    z-index: 999;
    cursor: wait;
  }
}

.table-form-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;

  .filter-restaurants {
    max-width: 420px;
  }
}
